.HomeContainer {
  background: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ) center center no-repeat, #000 url("images/home-background.jpg") center center no-repeat;
  background-size: cover, cover;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.title {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}
