@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/hamburgerNavIcon';

.navContainer {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: 30px;
  margin: 1.5rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;

  .navMenuIconContainer {
    font-size: .7rem;
    margin: 1rem;
    position: absolute;
    right: -90vw;
  }

  .activeNavMenuIconContainer {
    margin-top: 5px;
    padding: 0;
    position: static;
  }

  .mainNav {
    @include secondaryFont();
    background-color: $secondary-color;
    color: $primary-font-color;
    display: none;
    font-size: 1.4rem;
    height: 100vh;
    left:-webkit-calc(-100vw + 100%);
    left:-moz-calc(-100vw + 100%);
    left:calc(-100vw + 100%);
    list-style: none;
    margin: 0;
    padding: 8rem 4rem 0;
    position: fixed;
    text-align: left;
    top: -1.5rem;
    width: 100vw;
    z-index: 5;

    a:hover, a:active {
      color: $primary-font-color;
    }
  }

  .searchBarContainer {
    display: grid;
    grid-template-columns: repeat(4, 100vw / 4);
    grid-template-rows: 2rem;
    left:-webkit-calc(-100vw + 120%);
    left:-moz-calc(-100vw + 120%);
    left:calc(-100vw + 120%);
    margin: 0;
    position: absolute;
    width: 2rem;
    z-index: 10;
  }

  .activeSearchBarContainer {
    width: 95vw;
  }

  #___gcse_0 {
    position: absolute;
    top: 0;
  }

  .searchIcon {
    border-radius: 20px;
    justify-self: end;
    fill: rgba(255, 255, 255, .6);
    grid-area: 1 / 4 / 1 / 5;
    height: 100%;
    padding: 4px;
    width: 80px;

    input {
      display: none;
    }

    svg {
      height: 100%;
    }
  }

  .searchIcon:hover {
    fill: $primary-font-color;
    cursor: pointer;
  }

  .remove {
    display: none;
  }

  .reveal {
    display: block;
  }

  .activeSearchIcon {
    background-color: $primary-color;
  }

  .searchBar {
    border-radius: 20px;
    grid-area: 1 / 2 / 1 / 4;
    height: 0;
    margin-right: 1rem;
    overflow: hidden;
    margin-left: .5rem;
    opacity: 0;
    outline: none;
    padding: 1.1rem;
    position: absolute;
    right: -100%;
    transition: width 1s;
    width: 0;
    z-index: -2;
  }

  .activeSearchBar {
    margin-right: 1rem;
    opacity: 1;
    width: 200%;
  }

  .selected {
    color: $primary-font-color;
  }
}

@media only screen and (min-width: 550px) {
  .navContainer {
    .activeSearchBar {
      margin-right: 2rem;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 700px) {
  .navContainer {
    .activeSearchBar {
      margin-right: 5rem;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 900px) {
  .navContainer {
    grid-column-gap: 4rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 40px;
    margin: 1.5rem 2.5rem;

    .toggle-icon {
      display: none;
    }

    .mainNav {
      background-color: transparent;
      color: $secondary-font-color;
      display: grid;
      font-size: 1.3rem;
      grid-area: 1 / 1 / 1 / 2;
      grid-column-gap: 2rem;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: 10px;
      height: 2rem;
      margin-top: .8rem;
      padding: 0;
      position: static;
      width: 110%;
    }

    .searchIcon {
      grid-area: 1 / 4 / 1 / 5;
      height: 1.75rem;
      margin-top: 12px;
      width: 1.75rem;
    }

    .activeSearchIcon {
      width: 4rem;
      position: absolute;
      right: -2.2rem;
    }

    .searchBarContainer {
      grid-area: 1 / 2 / 1 / 3;
      margin-left: 0;
      position: static;
    }

    .activeSearchBarContainer {
      margin-left: 0;
      width: 20vw;
    }

    .searchBar {
      margin: 0;
    }

    .activeSearchBar {
      height: 1.4rem;
      margin: 0;
      margin-top: .7rem;
      //margin-right: 11.85rem;
      padding: 5px 10px;
      position: static;
      width: 200px;
    }

    .remove {
      display: block;
    }
  }
}

@media only screen and (min-width: 1220px) {
  .navContainer {
    .searchBarContainer {
      max-width: 250px;
      .activeSearchBar {
        position: absolute;
        right: .7rem;
      }
    }
  }
}
